@model IEnumerable<EnrollmentApplication2.Models.Student>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="StudentoftheMonth">
	@Ajax.ActionLink("Click here to see the Student of the Month",
	"Student of the Month",
	null,
	new AjaxOptions
	{
		UpdateTargetId = "StudentoftheMonth",
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "GET"
	},
	new { @class = "btn btn-primary" })
</div>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.LastName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstName)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
				@Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
			</td>
		</tr>
	}

</table>

@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	}